* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  color: white;
}

.logo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.categories {
  display: flex;
  list-style-type: none;
}

.categories li {
  cursor: pointer;
}

.categories li:not(:last-child) {
  margin-right: 25px;
}

.movies-section {
  padding: 15px 80px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 15px;
}

.movie-card {
  border: 2px solid rgb(243, 242, 242);
  border-radius: 4px;
  width: 250px;
  height: auto;
  margin: 0 auto;
}

.movie-card img {
  width: 100%;
  height: 375px;
}

.movie-card-details {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.movie-like {
  display: flex;
  justify-content: space-between;
}

.movie-like i {
  cursor: pointer;
}

.movie-card button {
  width: 100%;
  padding: 8px 15px;
  margin-top: 3px;
  border: none;
  cursor: pointer;
}

.popup-section {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(82, 158, 224, 0.849);
  position: absolute;
  top: 0;
  left: 0;
  height: 150vh;
  width: 100%;
}

.popup {
  height: max-content;
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 4px;
}

.popup-image {
  width: 180px;
  height: auto;
  margin: 0 auto;
}

.popup-image img {
  width: 100%;
  height: 200px;
}

.title {
  text-align: center;
  font-size: 35px;
}

.add-comment {
  width: 40%;
  text-align: start;
  display: grid;
  flex-direction: column;
  justify-content: start;
  padding: 15px;
}

.add-comment h1 {
  margin: 14px auto;
}

.add-comment input {
  margin-bottom: 12px;
  width: 50%;
  align-self: flex-start;
  padding: 9px;
}

.comment-btn {
  width: 80%;
}

#comment-btn {
  padding: 10px;
  margin-top: 5px;
}

.commentWrapper {
  text-align: center;
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  margin: 4px;
  position: relative;
}

.top-comment {
  text-align: center;
}
